<configuration>
    <property name="LOG_P_DIR" value="./generror"/>
    <appender name="GenErrorAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_P_DIR}/generror.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_P_DIR}/generror_%d.%i.log</fileNamePattern>
            <!-- each file should be at most 100MB, keep 30 days worth of history, but at most 30GB -->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>
    <logger name="com.trycatch.GenError" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="GenErrorAppender"/>
    </logger>

</configuration>